@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

body{
    font-family:Baskervville+SC, sans-serif;
    font-weight: 2;
    text-align: center;
    margin-top: 100px;
}
label{
    
    font-size: 23px;
    margin: 10px;
}
select{
    font-size: large;
    padding: 3px;
    border-radius: 5px;
}
option:hover{
    background-color: rgb(49, 49, 49);
    color: white;
}
button{
    border: 1px solid grey;
    font-size: large;
    padding: 3px;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(49, 49, 49);
    color: white;
}
p{
    margin-top: 100px;
}